---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { menuLinks } from "@/site.config";
import { siteConfig } from "../../site.config";
---

<header class="group relative mb-8 flex items-center sm:ps-16" id="main-header">
	<div class="flex sm:relative sm:flex-col">
		<a
			aria-current={Astro.url.pathname === "/" ? "page" : false}
			class="mr-4 inline-flex items-center sm:inline-block"
			href="/"
		>
			<svg
				class="text-global-text hover:text-accent mr-2 h-8 w-8 shrink-0 -translate-y-0.5 sm:absolute sm:-inset-s-16 sm:top-1/2 sm:me-0 sm:mr-0 sm:h-10 sm:w-10 sm:-translate-y-1/2"
				viewBox="0 0 130.99191 124.71604"
				version="1.1"
				id="svg1"
				xml:space="preserve"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Tsunamic Technologies</title>
				<defs id="defs1"></defs>
				<g id="layer1" transform="translate(-202.57974,-32.347052)">
					<path
						style="fill:currentColor;fill-opacity:1"
						d="m 263.50793,156.83377 c -31.86669,-3.07361 -51.07556,-34.17817 -38.91822,-63.019532 6.22754,-14.773848 20.88273,-26.796526 37.17784,-30.49959 3.90289,-0.886932 4.21038,-0.79677 1.26568,0.37112 -26.62015,10.55776 -39.87557,39.413302 -29.4582,64.127152 7.58062,17.98402 28.54873,29.45038 49.57338,27.10909 l 1.45521,-0.16205 -1.32292,0.38899 c -5.58943,1.64349 -13.34753,2.30455 -19.77277,1.68482 z m 16.46548,-14.96808 c -23.60327,-1.22425 -41.17296,-17.45217 -43.69078,-40.3542 -0.47672,-4.336208 0.50305,-15.599731 1.43671,-16.516538 0.0292,-0.02864 0.0649,1.872339 0.0794,4.224399 0.20763,33.632579 34.66589,54.345529 67.24386,40.420469 11.63346,-4.97259 21.15414,-14.08593 26.97953,-25.82524 1.95783,-3.945413 2.05429,-3.40752 0.32384,1.80577 -7.29822,21.98714 -29.60677,37.42615 -52.37259,36.24534 z m -65.93074,-6.36726 c -17.00829,-18.26193 -14.84158,-48.371303 4.8512,-67.414006 23.98176,-23.190099 63.99782,-21.57633 82.29246,3.318693 2.91267,3.963514 2.95806,4.350683 0.20091,1.713753 -25.75725,-24.634172 -70.92094,-15.606237 -87.7822,17.547105 -7.09,13.940665 -7.05017,30.102475 0.1069,43.379245 0.64718,1.20055 1.13882,2.18281 1.09254,2.18281 -0.0463,0 -0.3891,-0.32742 -0.76181,-0.7276 z m 88.34954,-30.23763 c 3.79741,-9.475302 4.45907,-20.5226 1.7824,-29.759235 -11.32149,-39.068109 -64.51175,-47.70163 -93.29528,-15.143123 -0.99784,1.12871 -1.81425,1.988334 -1.81425,1.910277 0,-0.07806 0.63602,-1.185918 1.41338,-2.461911 11.79306,-19.357648 34.42054,-30.065978 56.87199,-26.914356 31.27963,4.390878 49.8855,33.209658 40.36836,62.526875 -1.24807,3.84463 -5.74979,12.760873 -6.44284,12.760873 -0.0296,0 0.47274,-1.31373 1.11624,-2.9194 z"
						id="path1"></path>
				</g>
			</svg>
			<span class="hover:text-accent font-bold sm:text-lg">{siteConfig.title}</span>
		</a>
		<nav
			aria-label="Main menu"
			class="bg-global-bg absolute -inset-x-4 top-12 hidden flex-col divide-y divide-gray-500 px-2 group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:divide-x sm:divide-y-0 sm:bg-transparent sm:p-0"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={Astro.url.pathname === link.path ? "page" : false}
						class="cactus-link hover:text-accent px-2 py-4 sm:px-4 sm:py-0"
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<div class="ms-auto flex space-x-1">
		<Search />
		<ThemeToggle />
		<mobile-button>
			<button
				aria-expanded="false"
				aria-haspopup="menu"
				class="group hover:text-accent relative h-9 w-9 cursor-pointer rounded-md p-2 sm:invisible sm:hidden"
				id="toggle-navigation-menu"
				type="button"
			>
				<span class="sr-only">Open main menu</span>
				<svg
					aria-hidden="true"
					class="absolute start-1/2 top-1/2 h-5 w-5 -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
					fill="none"
					focusable="false"
					id="line-svg"
					stroke="currentColor"
					stroke-width="1.5"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
					></path>
				</svg>
				<svg
					aria-hidden="true"
					class="absolute start-1/2 top-1/2 h-5 w-5 -translate-x-1/2 -translate-y-1/2 scale-0 text-red-500 opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
					fill="none"
					focusable="false"
					id="cross-svg"
					stroke="currentColor"
					stroke-width="1.5"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
			</button>
		</mobile-button>
	</div>
</header>

<script>
	import { toggleClass } from "@/utils/domElement";

	class MobileNavBtn extends HTMLElement {
		#menuOpen: boolean = false;

		connectedCallback() {
			const headerEl = document.getElementById("main-header")!;
			const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

			mobileButtonEl?.addEventListener("click", () => {
				if (headerEl) toggleClass(headerEl, "menu-open");
				this.#menuOpen = !this.#menuOpen;
				mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
			});
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
