---
import { type CollectionEntry, getCollection } from "astro:content";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts.sort(collectionDateSort) as CollectionEntry<"post">[];
const latestPosts = allPostsByDate.slice(0, MAX_POSTS);

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes
	.sort(collectionDateSort)
	.slice(0, MAX_NOTES) as CollectionEntry<"note">[];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-2">About Us</h1>
		<p class="mb-4">
			Hi, I'm a theme for Astro, a simple starter that you can use to create your website or blog.
			If you want to know more about how you can customise me, add more posts, and make it your own,
			click on the GitHub icon link below and it will take you to my repo.
		</p>
	</section>
	{
		latestNotes.length > 0 && (
			<section class="mt-8">
				<h2 class="title mb-2 text-lg">Notes</h2>
				<ul class="mt-4 space-y-4" role="list">
					{latestNotes.map((note) => (
						<li class="pb-4 last:pb-0">
							<Note note={note} as="h3" isPreview />
						</li>
					))}
				</ul>
				<a class="cactus-link mt-6 inline-block" href="/notes/">
					View all <span aria-hidden="true">→</span>
					<span class="sr-only">notes</span>
				</a>
			</section>
		)
	}
	{
		latestPosts.length > 0 && (
			<section class="mt-8">
				<h2 class="title mb-2 text-lg">Posts</h2>
				<ul class="mt-4 space-y-2" role="list">
					{latestPosts.map((p) => (
						<li>
							<PostPreview post={p} />
						</li>
					))}
				</ul>
				<a class="cactus-link mt-6 inline-block" href="/posts/">
					View all <span aria-hidden="true">→</span>
					<span class="sr-only">posts</span>
				</a>
			</section>
		)
	}
</PageLayout>
